:root {
    --primaryColor: #222121;
    --secondaryColor: antiquewhite;
    --circleMark: url(Assets/Circle.svg);
    --crossMark: url(Assets/Cross.svg);
    --squareHeight: calc(calc(50vh - 30px) / 3);
    --sideGap: calc(calc(100vw - 50vh) / 2);
}

body {
    margin: 0;
    background-color: var(--primaryColor);
    overflow: hidden;
}

.wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

#titleContainer {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 1000px;
    height: 200px;
}

.title {
    z-index: 100;
    flex: auto;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#Tic {
    background-image: url(Assets/Bungee-Tic.svg);
}

#Tac {
    background-image: url(Assets/Bungee-Tac.svg);
}

#Toe {
    background-image: url(Assets/Bungee-Toe.svg);
}

#startButton {
    position: absolute;
    height: 60px;
    width: 180px;
    bottom: 20vh;
    box-sizing: border-box;
    color: var(--primaryColor);
    font-family: 'Source Code Pro', monospace;
    font-size: 24px;
    font-weight: bold;
    background-color: var(--secondaryColor);
    border: 2px solid black;
    border-radius: 10px;
    transition: .2s;
}

#startButton:hover {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(250,235,215,0.57);
    -moz-box-shadow: 0px 0px 10px 0px rgba(250,235,215,0.57);
    box-shadow: 0px 0px 10px 0px rgba(250,235,215,0.57);
}

.boardPiece {
    position: absolute;
    background-color: var(--secondaryColor);
    transition: .7s;
}

.slide-in {
    animation-duration: 1.5s;
    animation-delay: .5s;
    animation-timing-function: cubic-bezier(0.29, 0.74, 0.4, 1.11);
    animation-fill-mode: forwards;
}

.top {
    top: calc(25vh + var(--squareHeight));
    width: 50vh;
    height: 15px;
}

.top.offscreen {
    left: -50vh;
}

.top.box {
    top: 25vh;
}

.top.slide-in {
    animation-name: offscreenLeft;
}

@keyframes offscreenLeft {
    to {left: var(--sideGap);}
}

.bottom {
    bottom: calc(25vh + var(--squareHeight));
    width: 50vh;
    height: 15px;
}

.bottom.offscreen {
    right: -50vh;
}

.bottom.box {
    bottom: 25vh;
}

.bottom.slide-in {
    animation-name: offscreenRight;
}

@keyframes offscreenRight {
    to {right: var(--sideGap);}
}

.left {
    left: calc(var(--sideGap) + var(--squareHeight));
    height: 50vh;
    width: 15px;
}

.left.offscreen {
    top: -50vh;
}

.left.box {
    left: var(--sideGap);
}

.left.slide-in {
    animation-name: offscreenTop;
}

@keyframes offscreenTop {
    to {top: 25vh;}
}

.right {
    right: calc(var(--sideGap) + var(--squareHeight));
    height: 50vh;
    width: 15px;
}

.right.offscreen {
    bottom: -50vh;
}

.right.box {
    right: var(--sideGap);
}

.right.slide-in {
    animation-name: offscreenBottom;
}

@keyframes offscreenBottom {
    to {bottom: 25vh;}
}

.grid {
    display: grid;
    background-color: var(--primaryColor);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 50vh;
    width: 50vh;
    gap: 15px;
}

.outerSquare {
    background-color: var(--primaryColor);
}

.gridSquare {
    height: 100%;
    background-color: var(--primaryColor);
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    animation-duration: .7s;
    animation-timing-function: linear;
}

[data-mark='Cross'] {
    background-color: var(--secondaryColor);
    -webkit-mask-image: var(--crossMark);
    mask-image: var(--crossMark);
}

[data-mark='Circle'] {
    background-color: var(--secondaryColor);
    -webkit-mask-image: var(--circleMark);
    mask-image: var(--circleMark);
}

.fallingMark {
    position: absolute;
    top: -20px;
    height: 20px;
    width: 20px;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    animation-timing-function: linear;
}

@keyframes falling0 {
    to {transform: translateY(calc(100vh + 20px)) rotate3d(10, 10, 4, -500deg)}
}

@keyframes falling1 {
    to {transform: translateY(calc(100vh + 20px)) rotate3d(-2, 6, -3, 500deg);}
}

@keyframes falling2 {
    to {transform: translateY(calc(100vh + 20px)) rotate3d(3, -5, 3, 750deg)}
}

@keyframes falling3 {
    to {transform: translateY(calc(100vh + 20px)) rotate3d(-8, 1, 2, -600deg)}
}

.startScreen {
    animation-duration: 1.2s;
    animation-timing-function: ease-out;
}

.fadeout {
    animation-name: fadeout;
}

@keyframes fadeout {
    from {opacity: 1;}
    to {opacity: 0;}
}

#lightMode {
    position: absolute;
    right: 10vw;
    bottom: 10vh;
}

.greenFlash {
    animation: greenFlash;
    animation-duration: .7s;
    animation-iteration-count: 3;
    animation-timing-function: ease-in-out;
}

@keyframes greenFlash {
    50% {background-color: rgb(109, 168, 19);}
}

.redFlash {
    animation: redFlash;
    animation-duration: .7s;
    animation-iteration-count: 3;
    animation-timing-function: ease-in-out;
}

@keyframes redFlash {
    50% {background-color: rgb(180, 36, 36);}
}

@media screen and (max-width: 999px) {
    .grid .boardPiece {
        position: fixed;
    }

    #titleContainer {
        flex-direction: column;
        height: 50vh;
        width: 50vw;
        top: 15vh;
    }

    #startButton {
        bottom: 15vh;
    }
}