:root {
    --primaryColor: #222121;
    --secondaryColor: antiquewhite;
    --circleMark: url(Assets/Circle.svg);
    --crossMark: url(Assets/Cross.svg);
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primaryColor);
    height: 100vh;
    overflow: hidden;
}

.grid {
    display: grid;
    background-color: var(--secondaryColor);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 50vh;
    width: 50vh;
    gap: 15px;
}

.outerSquare {
    background-color: var(--primaryColor);
}

.gridSquare {
    height: 100%;
    background-color: var(--primaryColor);
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

[data-mark='Cross'] {
    background-color: var(--secondaryColor);
    -webkit-mask-image: var(--crossMark);
    mask-image: var(--crossMark);
}

[data-mark='Circle'] {
    background-color: var(--secondaryColor);
    -webkit-mask-image: var(--circleMark);
    mask-image: var(--circleMark);
}

.fallingMark {
    position: absolute;
    top: -20px;
    height: 20px;
    width: 20px;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    animation-timing-function: linear;
}

@keyframes falling0 {
    to {transform: translateY(calc(100vh + 20px)) rotate3d(10, 10, 4, -500deg)}
}

@keyframes falling1 {
    to {transform: translateY(calc(100vh + 20px)) rotate3d(-2, 6, -3, 500deg);}
}

@keyframes falling2 {
    to {transform: translateY(calc(100vh + 20px)) rotate3d(3, -5, 3, 750deg)}
}

@keyframes falling3 {
    to {transform: translateY(calc(100vh + 20px)) rotate3d(-8, 1, 2, -600deg)}
}